version: "3"
services:
  web:
    build: .
    command: php artisan serve
    volumes:
      - .:/var/www/html
    ports:
      - 8000:8000
    depends_on:
      - db
    tty: true
    stdin_open: true
  db:
    image: mysql:5.7
    volumes:
      - db-volume:/var/www/mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
volumes:
  db-volume:
